@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
 color: #6BD6FF; 
 background: #DB7F30;
 margin: 0%;
}
ul, li{
  margin: 0;
  padding: 0;
}
h1, h2 {
    color: #FFDDE0;
    text-shadow: 0px 5px 10px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
li {
  display: inline;
  margin-right: 20px;
}
p {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px
    }

    .main-navigation {
    background: #0B387A; 
    color: #FFEF9F;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    }

.main-navigation a {
  color: #FF00FF;
}

.dropdown { 
  display: none;
  position: absolute;
  width: 200px;
  margin-left: 210px;
  padding-top: 10px;
}

.dropdown li {
  display: block;
  background-color: darkmagenta;
  padding: 5px 10px;
  border-top: 1px solid darkgray;
}
.dropdown-link:hover .dropdown{
  display: block;
}
.dropdown-link::before {
  content: "+";
}
    .nav-link {
    color: antiquewhite;
    text-decoration: none;
    }
    .nav-link:hover {
      color: khaki !important;
      text-decoration: underline !important;
    }
    .nav-link:visited {
      color: azure;
    }
    .active {
    color: #B72C8B !important;
    text-decoration: underline !important;
    }
    .title-header {
    background-image: url(images/ocean-beach-Sunset_pier.jpg);
    background-size: 800px; 
    background-position: bottom;
    padding: 100px;
    text-align: center;
    margin-top: 30px;
    }
    .main-content {
    background-color: #936804;
    border-style: solid;
      border: 2px solid #9B1E20;
    border-color: #2220D1;
    border-width: 6px;
    border-radius: 10px;  
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(50,50,50,.5);
    width: 600px;
    margin: 20px auto;
    padding: 20px 40px;
  }
  .button {
    background-color:#FFDDE0;
    color: #9B1E20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    border-bottom: 10px solid navajowhite;
    transform: translateY(0px);
    transition: all 400ms;
    animation-name: jump-jive-wail;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .button:hover {
    background-color: chartreuse;
    color: #0B387A;
    border-bottom: 10px solid red;
    transform: translateY(-10px);
  }
  .button:active {
    background-color: #6BD6FF;
    color: aquamarine;
    margin-top: 50px;
    border-bottom: 0px solid fuchsia;
    transform: translateY(10px);
  }
  .main-content img {
    width: 50%;
  }
  .main-content img:nth-child(2) {
    width: 100%;
  }

  .title-header h1{
  animation-name: popping-in;
  animation-duration: 400ms;
  }

  .title-header h2{
    animation-name: popping-in;
    animation-duration: 400ms;
    animation-delay: 500ms;
    transform: translateY(-50px);
    opacity: 0;
    animation-fill-mode: forwards;
    }

  @keyframes popping-in {
    from {transform: translateY(-50px); opacity: 0; }
    to {transform: translateY(0px); opacity: 1;}
  }

  @keyframes jump-jive-wail {
    0% {transform: rotate(100deg); background-color: #DB7F30;}
    25% {transform: scale(2, 2); background-color: #6BD6FF;}
    50% {transform: rotate(100deg);background-color: #9B1E20;}
    75% {transform: rotate(100deg);background-color: #FFDDE0;}
    100% {transform: scale(2, 2); background-color: #0B387A;}
  }